// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all_box{
  display: flex;
}

.box1 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.box2 {
  background-color: #FF0000;
  height: 200px;
  width: 200px;
  margin: 10px;
}
